h1{
  text-align: center;
}

.row {
  text-align: center;
}

#brian {
  float: left;
  /*background-color:#87CEFA;*/
}

.nav li{
  float:right;
  display:inline;
  margin: 30px 5px 0 0;
  padding: 6px 12px;
  font-weight:400;
  font-size: 14px;

  }

#circle {
    height:400px;
    text-align: center;
    background-color: #87CEFA;
    width: 100%;
}

#circle #pic {
    margin: 100px;
    height:200px;
    background-color: #ff4000;
    border-radius: 50%;
}

img {
    height:200px;
    border: solid 1px blue;
}

#uline,
#navmo{
  display: none;
}

@media (max-width: 1799px) {
  body{
    border-left:200px;
    border-right:200px;
  }
}

@media (max-width: 600px) {
  body {
    background-color: ;
    }

  hr#content {
    display:none;
  }

  #tron {
    display:none;
  }

  #brina {
    text-align: center;
  }

  #uline,
  #navmo {
    display: inline-block;
  }

  #top{
    display: none;
  }

  #brian {
 float: none;
 font-weight: bold;
 font-size: 4em;
 font-family: helvetica;
}

/*
background-color:#ff4000
display:none;
*/
